.fondo {
    background: linear-gradient(to bottom, #000000, #363636); /* Degradado de gris oscuro a amarillo/naranja */
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    position: absolute;
    filter: brightness(80%);
  }

  