.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px;
  background-color: #1f1d1d;
  border-bottom: 2px solid #ff9100;
}
.logoContainer {
  margin-right: 430px;
  margin-left: 10px;
}
.logo {
  width: 100px; 
}
.centerContent {
  flex-grow: 1;
  margin: 0 auto;
}
.filterButtons {
  display: flex;
}